
header {
  background-image: url('https://img-0.journaldunet.com/LdKTfkFeppYSmL24oUA1qcUhrbY=/1500x/smart/8690a467acaf4cd4b74fcbc6d27dfdab/ccmcms-jdn/15976496.jpg');
  background-size: cover;
  height: 100vh;
  font-family: "Oswald", Norwester;
}
.competenceimg{
  width:75%;
  height: 33rem;
}
.opacitycontact:hover{
  opacity:0.7;
}
.decocontact{
  text-decoration: none;
  color: #000000;
}
.decocontact:hover{
  text-decoration: none;
  color: #000000;
}

footer{
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}

.presentationHead {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  color: white;
}
 
/* Profile Image Style  image profil head */
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

.cc-profile-image a {
  position: relative;
}

.cc-profile-image a:before {
  content: "";
  border: 15px solid #50adf0;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  -webkit-animation: pulsate 3s ease-out;
  animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 99;
}

.cc-profile-image img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;

  z-index: 9999;
  transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
  transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
  -webkit-animation: none;
  animation: none;
}

/* bouton header en savoir plus */

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}


.container{
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);

}
.quiSuisJE{
border-radius: 2rem;
}

.quiSuisJE {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 4s ease-in-out, transform 3s ease-in-out;
}
.quiSuisJE.animate {
  opacity: 1;
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .carousel-control-prev:hover,.carousel-control-next:hover{
  color: rgb(175, 172, 172);

} 

.carousel-control-prev,
.carousel-control-next {
  width: 1%;
  opacity: 1;
  z-index: 5;
  color: black;
  font-size: 1rem;
  font-weight: 1000;
}

.carousel-control-prev {
  left: -1%;
}

.carousel-control-next {
  right: -1%;
}






.linkquiSuisJE{
  text-decoration: none;
  color: white;
}

.overlay {
  position: relative;
  display: inline-block;
}

.overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay:hover .text {
  opacity: 1;
  color: black;
}

.overlay:hover img {
  opacity: 0.7;
}










@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}

.hero {
  height: auto;
  background: url("https://www.objectifmicro.org/wp-content/uploads/2018/09/progession-de-linformatique.jpg")
    left bottom no-repeat;
  background-color: rgba(0, 0, 0, 0.747);
  background-size: cover;
  background-blend-mode: multiply;
   /* background-attachment:fixed ;
    activate when you put in your website (optional)
  */
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}
.hero .container{
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.flex{
  display: flex;
}
.container__about{
  margin-bottom: 30px;
}

.container__about p{
  margin-top: 10px;
  max-width: 500px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages{
  column-gap: 30px;
}

.container-pages ul{
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}
.container-pages ul a{
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.container-pages ul a:hover{
  color: #017143;
}
footer .by{
margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .by p{
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
}
.line__separete{
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}
.icons {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
  
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

.imgmecontacter{
  position: relative;
}
.villemecontacter{
  position: absolute;
top:44%;
left: 46%;
}
.mailcontacter{
  position: absolute;
top:58%;
left: 46%;
}
.telcontacter{
  position: absolute;
top:70%;
left: 46%;
}
.linkcontact{
position: absolute;
height: 5;
width: 100%;
top:85%;
}
 .imgmecontacter a img {
  width: 40x;
height: 40px;    } 

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}


@media screen and (min-width: 1101px) and (max-width: 4000px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
  .nameheader{
    font-size: 2rem;
    font-weight: 700;
  }
  .quiSuisJE{
    width: 48%;
    border-radius: 2rem;
    }
.nav-link , .navbar-brand{
  color: white;
  font-size: 1.5rem !important;
margin: 0.3rem;}
.linkfooter{
  margin: 1rem;
}
#imgsavoiretre1 , #carrousellow{
  display: none !important;
}
#imgsavoiretre2 , #carrouselhight{
  display: block !important;
  display: flex !important;
  justify-content: center !important;
}
}

@media screen and (min-width: 770px) and (max-width: 1100px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
.nav-link , .navbar-brand{
  color: white;
  font-size: 0.8rem !important;
margin: 0.3rem;}


.nameheader{
  font-size: 2rem;
  font-weight: 700;
}
.quiSuisJE{
  width: 48%;
  border-radius: 2rem;
  }
  .linkfooter{
font-size:1rem!important ;  
margin-left: 0.5rem !important;
margin-right: 0.5rem !important;
  }
  #imgsavoiretre1 , #carrousellow{
    display: none !important;
  }
  #imgsavoiretre2 , #carrouselhight{
    display: block !important;
    display: flex !important;
    justify-content: center !important;
  }
  .villemecontacter{
    position: absolute;
  top:47%;
  left: 46%;
font-size: 0.9rem;
  }
  .mailcontacter{
    position: absolute;
  top:59%;
  left: 46%;
font-size: 0.9rem;
  }
  .telcontacter{
    position: absolute;
  top:70%;
  left: 46%;
  font-size: 0.9rem;
  }
}


@media screen and (min-width: 601px) and (max-width: 769px) {
  .presentationHead {
    top: 70%;

  }
  .nav-link , .navbar-brand{
    color: white;
    font-size: 0.6rem !important;
  margin: 0.2rem;}

  header {
    min-height: 100vh;

  }
  .quiSuisJE{
    width: 100%;
    border-radius: 2rem;
    }
    .linkfooter{
      font-size:0.72rem!important ;  
      margin-left: 0.3rem !important;
      margin-right: 0.3rem !important;
    }
    #imgsavoiretre1 , #carrousellow{
      display: block !important;
      display: flex !important;
      justify-content: center !important;
    }
    #imgsavoiretre2 , #carrouselhight{
      display: none !important;
    }
    .villemecontacter{
      position: absolute;
    top:47%;

    left: 46%;
font-size: 0.8rem;
    }
    .mailcontacter{
      position: absolute;
    top:59%;
    left: 46%;
font-size: 0.8rem;
    }
    .telcontacter{
      position: absolute;
    top:70%;
    left: 46%;
    font-size: 0.8rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {

  .competenceimg{
    width:75%;
    height: 20rem;
  }

    .linkfooter{
      font-size:0.34rem!important ;  
      margin-left: 0.20rem !important;
      margin-right: 0.2rem !important;
      
    }
    .villemecontacter{
      position: absolute;
    top:47%;

    left: 46%;
font-size: 0.7rem;
    }
    .mailcontacter{
      position: absolute;
    top:59%;
    left: 46%;
font-size: 0.7rem;
    }
    .telcontacter{
      position: absolute;
    top:70%;
    left: 46%;
    font-size: 0.7rem;
    }
    .imgmecontacter a img {
      width: 25px;
height: 25px;    }

#imgsavoiretre1 , #carrousellow{
  display: block !important;
  display: flex !important;
  justify-content: center !important;

}
#imgsavoiretre2 , #carrouselhight{
  display: none !important;
  display: flex;
}
}



/**/


.wrapper.six{
  display: flex;
  justify-content: center;
}

.flicker {
  font-size: 2rem;
  font-family: 'Merienda', sans-serif;
  margin: 1rem auto;
  color: #4f4d4d; /* set initial color to gray */
  background: -webkit-gradient(linear, left top, right top, from(#080808), to(#1d1c1c), color-stop(0.8, #020202)) no-repeat;
  background: gradient(linear, left top, right top, from(#100f0f), to(#151515), color-stop(0.8, #050505)) no-repeat;
  background-size: 110px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 4.5s infinite;
}

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.flicker:hover {
  color: #000; /* set hover color to black */
}

p{
  font-family: 'Merienda', sans-serif;

}